body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: blue;
    border-radius: 60px;
    width: 100%;
}

.card {
    width: 400px;
    height: 600px;
    background-color: burlywood;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Добавление плавного перехода */
}

.card:hover {
    background-color: lightcoral; /* Изменение цвета фона при наведении */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Добавление тени при наведении */
    transform: scale(1.05); /* Масштабирование карточки при наведении */
}

.photo {
    height: 40%;
    padding: 40px;
}

.info {
    padding: 40px;
    height: 40%;
}

img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
}
